
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Flying Company</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"></h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item">
            <a (click)="Post()" class="nav-link" href="comment-form">Add Comment</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>



















<!-- <div class="sidebar">
  <h2>Flight Search</h2>
  <ul>
    <li *ngFor="let flight of flights" (click)="onFlightClick(flight.flightId)">
      {{ flight.flightId }}
    </li>
  </ul>
</div> -->

<!-- <div class="sidebar">
  <h2>Flight Search</h2>
  <form (submit)="onSubmit()">
    <label for="flightId">Flight ID:</label>
    <input type="number" id="flightId" name="flightId" [(ngModel)]="flightId">
    <button  type="submit">Search</button>
  </form>
</div> -->